<launch>

  <!-- Change the controller type of gripper from position to effort -->
  <arg name="use_effort_gripper" default="false" />

  <group ns="/crane_x7">
    <rosparam file="$(find crane_x7_control)/config/crane_x7_gazebo_mpc.yaml" command="load"/>
    <param if="$(arg use_effort_gripper)" name="gripper_controller/type" value="effort_controllers/GripperActionController" />
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen">
    <param name="num_worker_threads" value="1"/>
  </node>
    <node name="crane_x7_mpc" pkg="crane_x7_mpc" type="crane_x7_mpc" 
          args="load crane_x7_mpc/mpc_nodelet nodelet_manager
                _path_to_urdf:=$(find crane_x7_description)/urdf/crane_x7_for_mpc.urdf" 
          output="screen" respawn="false"/>

    <!-- <node name="controller_manager" -->
    <node name="controller_spawner"
          pkg="controller_manager"
          type="spawner" 
          respawn="false"
          output="screen"
          args="joint_state_controller
                arm_controller
                gripper_controller"/>
    <rosparam file="$(find crane_x7_control)/config/crane_x7_gazebo_control.yaml" command="load" />
  </group>

  <node name="robot_state_publisher" pkg="robot_state_publisher" 
      type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/crane_x7/joint_states" />
  </node>

</launch>